

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;}


  
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
}

.container{
    max-width: 1140px;
    /* justify-content: center; */
    margin: 0 auto;
}

nav img{
    width: 135px;
    height: 82px;
}


nav{
    /* display: flex; */
    width: 100%;
    margin: 30px 0px;
}
nav ul{
        gap: 48px;
}
.nav-cart{
    margin-left:48px
}


/* hero section style start */
.hero-section{
    margin: 60px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* width: 50%; */
}
.image-section{
    width: 100%;
}
.image-section img{
    width: 100%;
}

.text p{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}

/* Our plants style section start  */

.plants-section p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 125px;
    margin-bottom: 50px;
}

.cart-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    /* gap: 20px; */
    column-gap: 20px;
    row-gap: 30px;
    margin-bottom: 100px;
}


.cart-section div p{
    padding: 30px 0 0px 0;
    font-size: 22px;
}
.cart-section div h4{
    padding: 0 0 30px 0;
    font-size: 22px;
    font-weight: 700;
}
.cart-section div img{
    width: 100%;
}
.btn{
    width: 100%;
    background-color: #E95A08;
    color: #ddd;
    font-size: 16px;
    padding: 18px 0;
}

/* Store section start  */
.store{
    width: 100%;
    display: flex;
    margin: 133px 0;
    
}
.store h1{
    font-size: 60px;
    font-weight: 700;
}
.store-img{
    width: 50%;
}
.store-img img{
    width: 100%;
}

.store-text{
    width: 50%;
    padding: 0px 0px 00px 80px;
}
.store-text ul li{
    font-size: 22px;
    color:rgba(0, 0, 0, 0.5);
    list-style-type: disc;
    margin-left: 20px;
}


/* Deal section style start  */
.deal-img{
    /* width: 100%; */
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    max-width: 1140px; 
    margin: 0 auto;
    background-color: aqua;
}

.item3{
  grid-column: 2 / 3; 
    grid-row: 1 / 3;
    /* grid-row: span  */

}
.item2{
    grid-column: 1 / 2;
    grid-row: 1 / 2;

}
.item1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;

}


.deal-cart{
    border-radius: 10px;
    overflow: hidden; 
    position: relative;
    background-color: blue;

    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    /* color: white; 
    text-align: center;
    background-size: cover;
    background-position: center; */

}
.deal-cart img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    /* position: absolute; 
    top: 0;
    left: 0;
    z-index: 1; */
}


/* News Letter Section Start  */
.news-latter{
    width: 100%;
    height: 533px;
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.bg{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 533px;
}


.news-latter .text-content{
    padding: 200px 0;
}

.text-content div{
    display: flex;
    max-width: 830px;
    margin: 0 auto;
}
.text-content h1{
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin-bottom: 25px;
}
.news-latter input{
    width: 100%;
    outline: none;
    padding: 10px;
    border: none;
}

.subscribe-btn{
    max-width: 190px;
}

/* Footer  */
.footer{
    max-height: 350px;
    /* display: flex; */
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 55px; */
    display: flex;
    justify-content: space-between;
    color: gray;
    margin-bottom: 50px;
}

.footer ul li{
    padding: 16px 0;
}


.footer-img{
    text-align: left !important;
    width: 360px;
}
.footer-img p{
    font-size: 22px;
}

.footer-logo {
    padding-bottom: 16px;
    width: 100%;
}
.footer-img div{
    width: 135px;
}
.socil-icons img{
    display: inline;
    max-width: 36px;
    max-height: 36px;
    margin: 0px 12px;

}




@media screen and (max-width: 576px){

    .hero-section{
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column-reverse;
}
.cart-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text h1, span{
    font-size: 24px;
}
.text p{
    font-size: 14px;
}
.text{
    margin: 30px 0;
}
/* .text-center{
    font-size: 24px;
} */

.plants-section p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 0px;
    margin-bottom: 50px;
}

.plants-section h1{
    font-size: 24px;
}

.cart-section div p, h4, button{
    font-size: 16px;
}

.nav-ul ul{
    display: none;
}


.news-latter{
    width: 100%;
    max-height: 392px;
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.bg{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 392px;
    margin:  0 auto;
}

.text-content h1{
    font-size: 20px;
}
.news-latter input{
    width: 50%;
    outline: none;
    padding: 10px;
    border: none;
}

.subscribe-btn{
    width: auto;
    padding: 20px 12px;

}

.footer{
    display: block;
    font-size: 14px !important;
}
.container{
    padding: 0px 20px;
}

}